<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/layout.css">

    <title>Document</title>

</head>

<body>
    <div class="row">
        <!--Seperate the page to three-->
        <div class="col1">
            <!--The side navbar-->
            <p id="logo"><img src="/images/Note.png" alt="History" style="width: 50px;"></p>
            <hr>
            <ul>
                <li><span><i>Icon</i></span><a href="#">Home</a></li>
                <li><span><i>Icon</i></span> <a href="#">Notifications</a></li>
                <li><span><i>Icon</i></span> <a href="#">Message</a></li>
                <li><span><i>Icon</i></span> <a href="#">Interest</a></li>
                <li><span><i>Icon</i></span> <a href="#">Tools</a></li>

                <button><a href="#"></a>Speak</button>
            </ul>

            <section id="profile">
                <span id="dp"><a href="#"><img src="/images/cs503.jpg" alt="DP"></a></span>
                <span id="username">Username Ugochukwu </span>
                <br>
                <span id="user-link">"I percieve the universe as a sweet melody of creation"</span>
            </section>
        </div>
        <!--Done with side navbar-->
        <div class="col2">
            <!--Main content-->
            <div class="main_heading">
                <section id="Home">
                    <span><b>Home</b></span>
                    <span id="icon" style="float:right"><b>*</b></span>
                </section>
                <section id="post-form">
                    <img src="/images/cs503.jpg" alt="DP" id="dp">
                    <form action="#" method="post">
                        <input type="text" name="Post" id="post" placeholder="Express your thoughts!!!" maxlength="2000"
                            minlength="5">
                        <hr width="" style="margin-bottom: 10px; margin-top:-4px;">
                        <!---->
                        <input type="submit" value="Post" class="post-btn">
                    </form>
                </section>
            </div>
            <hr id="card-line">
            <section id="Posts-cards">
                <div class="post-card-name">
                <span id="dp"><img src="/images/cs503.jpg" alt="DP"><span id="username-post">Username</span></span>
                <p id="post-text">Words</p>
            </div>
                <img src="/images/cs503.jpg" alt="post-image" id="post-image">
                <p id="time-stamp">time-stamp</p>
            </section>

            <div class="footer">
                <a href="#">History Web</a>
            </div>
        </div>
        <!--Done with main content-->
        <div class="col3">

            <div id="chat-user">
           

                <!--Messages feedback and any ideas from Miracle-->
                <form action="#" method="post">
                    <input type="text" name="search-chat" placeholder="Search" minlength="1">
                    <!--implement with json-->
                </form>
                <table>
                    <thead>
                        <th>
                            <h2> Chats</h2>

                        </th>
                    </thead>
                    <tr>
                        <td>
                            <img src="/images/cs503.jpg" alt="Chats_rec img" id="dp">
                            <span >Chats name</span>
                            <p style="font-size:.8rem;">Status: {{}}</p>
                        </td>

                    </tr>


                </table>
                <p
                    style="display:block; text-align:center; color:darkgray; font-family:'Times New Roman', Times, serif; font-style:italic">
                    Powered By ZG Aspire L
                </p>
            </div>
            <!--Done with Message pane-->
        </div>
</body>

</html>