<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>username profile</title>

</head>

<body>
    <div class="rows">
        <!--Seperate the page to three-->
        <div class="col1">
            <!--The side navbar-->
            <p id="logo"><img src="/static/Note.png" alt="History" style="width: 50px;"></p>
            <hr>
            <ul>
                <li><span><i class="fa fa-home" style="font-size:28px" ;></i></span><a href="/">Home</a></li>
                <li><span><i class="fa fa-user" style="font-size:28px" ;></i></span><a href="/profile"
                        style="margin-left: 30px;">Profile</a></li>
                <li><span><i class="fa fa-bell" style="font-size:28px" ;></i></span> <a href="/notifications">Notifications</a></li>
                <li><span><i class="fa fa-comment" style="font-size:28px" ;></i></span> <a href="#">Comments</a></li>
                <li><span><i class="fa fa-bars" style="font-size:28px" ;></i></span> <a href="/interest">Interest</a></li>
                <li><span><i class="fa fa-th" style="font-size:28px" ;></i></span> <a href="#">Tools</a></li>

                <li><span><i class="fa fa-modx" style="font-size:28px" ;></i></span> <a href="/logout">Logout</a></li>

                <a href="/" style="font-weight:bolder"> <button>Speak</button></a>
            </ul>

            <div id="profile">
                <span id="dp"><a href="#"><img src="/static/cs503.jpg" alt="DP"></a></span>
                <span id="username">Username Ugochukwu </span>
                <br>
                <span id="user-link">"I percieve the universe as a sweet melody of creation"</span>
            </div>
        </div>
        <!--Done with side navbar-->
        <div class="col2">
            <div class="cover-photo" style=" background-image:url({{cp_path}}) ">
                <img src="{{dp_path}}" alt="Cover-photo">

            </div>
            <h2 id="nickname">{{name}}</h2>
            <div class="profile">
                <h2>Profile</h2>
                <hr style="color:blue;">
                <h3>{{username}}</h3>
                <Address style="color: #490a0a; margin-top: -10px"{{email}} </Address>
                <h5>Description: <p style="font-family:'Times New Roman', Times, serif; font-style:oblique">{{quote}}.</p>
                </h5>
                <p>I dont know </p>
            </div>
            <div class="profile-interest">
                <h1>Your Posts</h1>
                <hr>
                {% if  data%}
                {% for value in data %}
                {% if value.image_path %}
                <div class="interest-card">
                        <div class="post-card-name">
                        <span id="dp"><img src="{{value.dp_path}}" alt="DP"><span id="username-post">{{value.username}}</span></span>
                        <p id="post-text">{{value.post}} </p>
                    </div>
                        <img src="{{value.image_path}}" alt="post-image" id="post-image">
                        <p id="time-stamp">Posted-on:{{value.time}}</p>
                </div>
                {% else %}
                <div class="interest-card">
                    <div class="post-card-name">
                    <span id="dp"><img src="{{value.dp_path}}" alt="DP"><span id="username-post">{{value.username}}</span></span>
                    <p id="post-text">{{value.post}} </p>
                </div>
                    
                    <p id="time-stamp">Posted-on:{{value.time}}</p>
            </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <h4 style="text-align:center; font:bold; color: white; font-style: oblique; padding: 14px;">You are all Done</h4>
                {% endif %}
            </div>
            <div class="profile-foot">
                Powered By ZG ASPIRE <i class="fa fa-wrench"></i>
            </div>
        </div>
        <!--Done with main content-->
        <div class="col3">

            <div id="chat-user">


                <!--Messages feedback and any ideas from Miracle-->
                <form action="#" method="post">
                    <input type="text" name="search-chat" placeholder="Search" minlength="10">
                    <!--implement with json-->
                </form>
                <table>
                    <thead>
                        <th>
                            <h2> Chats</h2>

                        </th>
                    </thead>
                    <tr>
                        <td>
                            <a href="/messages" > <div class="chat">
                            <img src="/static/cs503.jpg" alt="Chats_rec img" id="dp">
                            <span>Chats name</span>
                            <p style="font-size:.8rem;">Status:</p>
                            </div>
                        </a>
                        </td>

                    </tr>


                </table>
                <p
                    style="display:block; text-align:center; color:darkgray; font-family:'Times New Roman', Times, serif; font-style:italic">
                    Powered By ZG Aspire L
                </p>
            </div>
            <!--Done with Message pane-->
        </div>
</body>

</html>